<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>todolist组件拆分</title>
	<script src="./vue.js"></script>
</head>
<body>
	<div id="root">
	<div>
		<input v-model="inputValue" />
		<button @click="handleSubmit">提交</button>
	</div>
	<ul>
		<todo-item 
		v-for="(item,index) of list" :key="index"
		:content="item"
		></todo-item>
	</ul>
	</div>
	<script>

	Vue.component('todo-item',{
		props:['content'],
		template:'<li>{{content}}</li>'
	})  
	//定义全局组件

	var TodoItem={
		template:'<li>item</li>'
	}
	// 定义局部组件

		new Vue({
			el:"#root",
			// components:{
			// 	'todo-item':TodoItem
			//  },  
			 // 注册局部组件
			data:{
				inputValue:'hello',
				list:[]
			},
			methods:{
				handleSubmit:function(){
					this.list.push(this.inputValue)
					this.inputValue=''
				}
			}
		})
	</script>
</body>
</html>